/*MAIN LAYOUT*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*MEDIA QUERIES*/
@media (max-width:872px){
     .navbar .responsive{
        display: none;
    }
}
@media(min-width:768px){
    .trigger{
        display: block;
    }
    .sidebar{
        position: relative!important;
        left: 0!important;
        transition: 0ms!important;
    }
}
.ant-menu{
    background-color: #1a224e!important;
}
.sidebar {
    position:fixed;
    left: -100%;
    transition: 850ms;
}
.sidebar.active {
    left:0; 
    transition: 350ms;
}  
/*GENERAL*/
body{
    font-family: 'Roboto', sans-serif;
    line-height: 20px!important;
    letter-spacing: 0.5px!important;
}
.site-layout-header{
    background-color:white;
    padding: 0px;
    line-height: 40px;
    height: 50px;
    font-weight: bold;
}
.site-layout-content{
    padding: 10px 24px 0 24px;
    margin: 0;
    min-height: 280;
    background-color: #dbd8d8;
}
.site-layout-logo{
    padding: 12px 20px;
    width: 13rem;
}


/*NAVBAR*/
.navbar .anticon svg{
    height: 20px;
    width: 20px;
}
.navbar .i-icon{
    cursor: pointer;
}
.navbar{
    padding: 5px 35px 0 25px;
    display: flex;
}
.navbar p{
    margin-bottom: 0;
}
.left, .center,.right{
    display: inline-block;
}
.trigger,.usuario,
.right p{
    padding-right: 30px;
}
.userIcon{
    margin-right: 3px;
}
.center p{
    font-weight: bold;
    text-transform:uppercase;
    font-size: 16px;
}
.ant-dropdown-menu{
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12);
}

/*SideBar Menu*/
aside{
    flex: 0 0 230px!important; 
    max-width: 230px!important; 
    min-width: 230px!important;
    width: 230px!important;
}
.site-layout-menu,
.site-layout-categorias{
    background-color: #333131!important;
    color: white;
}
.site-layout-categorias .anticon svg{
    height: 20px;
    width: 20px;
}
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title{
    height:50px;
    line-height: 25px;
}
.menuPrincipal [aria-expanded="true"]{
    background: rgba(219, 69, 74, 0.88);;
}
li .ant-menu-item {
    padding-left: 28px!important;
}
.submenu1 div{
    padding-left: 30px!important;
}
.ant-menu .ant-menu-sub .ant-menu-inline li{
    padding-left: 45px!important;
    margin: 0;
}
.ant-menu,
.ant-menu-item > a {
    color: white;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #b2b4b5;
    color:white;
    font-weight: bold;
}
.ant-menu-submenu > .ant-menu {
    background-color: #535151;
}
.ant-menu-submenu-title{
    color:white;
    white-space: normal;
}
.ant-menu-submenu-title:hover,
.ant-menu-item > a:hover,
.ant-menu-item:hover{
    color:#e4b3b3;
}
.ant-menu-item-selected > a, .ant-menu-item-selected > a:hover {
    color:white;
    font-weight: bold;
}
.ant-menu-inline .ant-menu-item::after{
    border-right: 3px solid #ff1836;
}
.ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::after{
    background-image: linear-gradient(to right, #f5f5f5, #f5f5f5)!important;
}
.ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::before{
    background-image: linear-gradient(to right, #f5f5f5, #f5f5f5)!important;
}

/*Submenu Largos*/
.ConfigModulos{
    color:white;
    overflow-wrap: break-word;
    height: 40px;
    line-height: 20px;
}
.contenedorTitulo{
    display: flex;
}
.Icono {
    padding:6px 5px 0 0; 
}
.Titulo{
    display: inline;
    padding-top: 10px;
}
.TituloLargo{
    padding-top: 0;
}